.App {
  text-align: center;
}

.col.s5.brand-logo {

  border-radius: 0 0 4px  0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

.widgets {
  display: flex;
  flex: auto;
  min-height: 400px;
}

.Search {
  max-height: 400px;
  overflow-y: auto;
}

.Search input {
  font-size: 24;
  display: "block";
  width: "99%";
  padding-top: 8;
  padding-bottom: 8;
  padding-left: 16;
}

.card-action a {
  margin-right: 0px !important;
}

.nav-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px 0 5px;
}

.link {
  font-family: monospace;
  font-size: 2.5rem;
}

.views {
  display: flex;
}

.imgCard .card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.views * {
  padding: 0;
  margin: 0;
}

.countries {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;

}

/* .countries button:hover {
  width: 50px;
} */